$input_padding: 10px 15px;
.woocommerce {
	.checkout {
		#customer_details {
			.col-1, .col-2 {
				padding: 0;
				flex: none;
				max-width: none;
				.woocommerce-input-wrapper {
					width: 100%;
				}
				.form-row-first, .form-row-last {
					width: 100%;
				}
				label {
					text-indent: -9999px;
				}
				input, textarea, select {
					padding: $input_padding;
					width: 100%;
				}
				textarea {
					height: 300px;
				}	
			}
		}
	}
}