.page-is-add-to-cart{
  .single-product-wrap > .container{
    padding-right: 0 !important;
  }
}

.single-product {
  @include media-breakpoint-down('sm'){
    .single-product-details {
      table {
        width: 100% !important;
      }
    }
  }
// single product tables
.single-product-details {
  @include media-breakpoint-down(sm){
    #specifications table table {
      tr {
        >td:first-of-type {
          min-width: 100px;
        }
      }
    }
    td {
      min-width: 70px;
    }
  }
}

  .single-product-wrap {
    display: flex;
    // background-color: theme-color('light');
    @extend .py-lg-5;
    @extend .pt-4;
    @extend .pb-3;
    .upsells {
      width: 100%;
    }
    .woocommerce-product-gallery figure.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
      > a >img {
        object-fit: contain;
        max-height: none;
      } 
      > .zoomImg {
        object-fit: cover;
        max-height: none;
        height: auto !important;
      }
    }

    .product-sidebar {
      width: 300px;
      background-color: theme-color('light');

      @include media-breakpoint-down(md) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        display: block !important;
      }

      > div {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background-color: theme-color('light');
        z-index: 100; //currency is 99
        height: 100vh;
        @extend .pt-5;
        @extend .px-5;
        margin-top: 52px;

        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 120px;
          display: flex;
          justify-content: space-between;
        }

        > div:first-child {
          > div:nth-child(2) {
            @extend .mt-2;
            @extend .mb-3;

            display: flex;
            flex-direction: column;

            a {
              margin-bottom: 2px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          > div:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
              @extend .mb-3;
            }
          }
        }

        > div:nth-child(2) {
          @include media-breakpoint-up(lg) {
            display: none;
          }

          i {
            cursor: pointer;
          }
        }
      }
    }

    div.product {
      display: flex;
      flex-wrap: wrap;
    }

    .flex-control-nav {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin-left: -5px !important;
      margin-right: -5px !important;
      margin-top: 5px !important;
      margin-bottom: 5px !important;

      li {
        padding: 5px;

        img {
          width: 100%;
          height: 100% !important;
          object-fit: cover;
        }
      }
    }

    .woocommerce-product-gallery {
      width: 100% !important;

      @include media-breakpoint-up(lg) {
        width: 350px !important;
      }
    }

    .summary {
      width: 100% !important;
      @extend .px-0;
      @extend .px-lg-5;

      @include media-breakpoint-up(lg) {
        width: calc(100% - 350px) !important;
      }

      .product_title {
        color: black;
        margin-bottom: 20px;
      }

      .amount {
        font-size: 1.7rem;
      }

      .product_meta {
        display: none;
      }
    }
  }

  .nav-tabs {
    .nav-item {
      margin-right: 1rem;
      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }

      .nav-link {
        font-size: 1.1rem;
        color: theme-color('dark');
        padding: 0;
        padding-right: 30px;
        @extend .py-3;

        &.active {
          font-weight: 600;
          color: theme-color('primary');
        }
      }
    }
  }
}

.lg-add-to-cart-wrap {
  @extend .pt-4;
  opacity: 0;
  transform: translateY(30px);
  transition: all .5s ease-in-out 0s;

  .price {
    display: flex;
    justify-content: space-between;
    @extend .mb-2;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

form.cart {
  > div {
    /*display: flex;
    justify-content: space-between;*/
  }

  button[type=submit] {
    @extend .form-control;
    @extend .mt-3;
    line-height: 1;
    max-width: 162px;
    border: 0;
  }
}

.woocommerce button.button.alt[type=submit]{
  background-color: theme-color('primary');
}

.woocommerce-notices-wrapper {
  position: fixed;
  left: 0;
  top: $header-height;
  width: 100%;
  z-index: 100;

  .woocommerce-message {
    margin-bottom: 0;
    background-color: theme-color('primary');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @extend .text-white;

    a {
      @extend .btn;
      @extend .btn-outline-white;
      order: 1;
    }

    &::before, &::after {
      display: none;
    }
  }
}

.product-resource-button {
  // position: fixed;
  // left: 0;
  //    top: 85px;
  //    z-index: 98;
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
  }
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  display: inline-block;
}

@include media-breakpoint-up(sm) {
  .woocommerce div.product form.cart div.quantity {
    margin-left: 28px;
  }
}

// style for tabs
@include media-breakpoint-down(md){
  .single-product {
    .single-product-details {
      .tabs {
        background-color: transparent !important;
        .container {
          .mobile-tab-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.open-tabs {
              &:after {
                content: "\f077";
              }
            }
            &:after {
              content: '\f078';
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
            }
          }
          .nav-tabs {
            width: 100%;
            z-index: 20;
            background-color: #f7f7f7;
            display: none;
            flex-direction: column;
            > li {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  } 
}

.woocommerce-page ul.products.columns-4 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  li.product{
    float: none;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(sm){
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include media-breakpoint-up(md){
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
