//buttons
$woocommerce_btn_bg_color: #ebe9eb;
.woocommerce a.button {
  padding: 0.6rem 2rem;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid $woocommerce_btn_bg_color;
}

//cart page

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals {
  width: 100%;
  float: none;
}

body.woocommerce-cart {
  position: relative;
  min-height: 100vh;
  footer {
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  &#coupon_code {
    width: auto;
  }
}

// fix disappeared 'ship to a different address'
.woocommerce .checkout #customer_details #ship-to-different-address {
  float: none;
  label {
    text-indent: 0;
    display: flex;
    input {
      width: auto;
      margin-right: 1rem;
    }
  }
}

.woocommerce a.button {
  padding: 0.5rem 1.25rem;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: black;
  font-weight: 300;
}

.flex-control-nav {
  margin-top: 40px !important;
}

.woocommerce ul.products li.product a img {
  height: 225px;
  object-fit: contain;
}

.woocommerce div.product div.images img {
  max-height: 400px;
  object-fit: contain;
  @include media-breakpoint-down(sm) {
    max-height: 300px;
  }
}

.woocommerce div.product div.summary {
  margin-bottom: 0;
}

.woocommerce-multi-currency.wmc-sidebar {
  top: 30%;
}

.woocommerce .cross-sells ul.products {
  display: flex;
  flex-wrap: wrap;
  .button {
    text-align: center;
  }
}

// currency sidebar style
.woocommerce-multi-currency.wmc-sidebar {
  z-index: 99;
}

.woocommerce .cross-sells ul.products[class*="columns-"] li.product,
.woocommerce-page .cross-sells ul.products[class*="columns-"] li.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-breakpoint-down("xs") {
    width: 100%;
    align-items: center;
  }
}

button.pswp__button--arrow--right::before,
button.pswp__button--arrow--left::before {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

/**************** shop page ****************/
.post-type-archive-product {
  .product-categories {
    .product-category {
      padding: 2rem;
      @include media-breakpoint-down("sm") {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .product-category-image {
        img {
          height: 200px;
          object-fit: contain;
          margin: auto;
          display: block;
        }
      }
    }
  }
}

/**************** category page ****************/

.tax-product_cat {
  .category-products {
    .category-product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-breakpoint-down("sm") {
        padding-top: 0;
      }
      padding: 2rem;
      img {
        height: 200px;
        object-fit: contain;
        margin: auto;
        display: block;
      }
    }
  }
  .product-buttons {
    .add_to_cart_button {
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
      padding: 0.5rem 1rem;
      &.product_type_variable {
        text-transform: capitalize;
      }
    }
    .read-more {
      margin-bottom: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }
}

/**************** end of category page ****************/

// woocommerce notice wrapper
.woocommerce-notices-wrapper {
  position: static;
}

// checkout page style
.woocommerce .checkout #customer_details .col-2 {
  .woocommerce-additional-fields {
    .show-label {
      label {
        text-indent: 0;
      }
      .woocommerce-input-wrapper {
        display: flex;
        input {
          width: auto;
          margin-right: 0.5rem;
        }
        label {
          line-height: 1;
        }
      }
    }
  }
}

// force error message to show
.woocommerce-checkout .woocommerce-notices-wrapper {
  display: block !important;
}
