.meta-box-sortables #postexcerpt .ui-sortable-handle span {
  color: transparent;
}

.meta-box-sortables #postexcerpt .ui-sortable-handle span:before {
  content: 'Store Description';
  display: inline-block;
  color: #23282d;
}
