// Font Awesome

$fa-font-path:	"~@fortawesome/fontawesome-free-webfonts/webfonts";

// Loading Screen

$loading-screen-background: #666;

// Slick Slider

$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "Font Awesome 5 Free" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;

$slick-prev-character: "\f053" !default;
$slick-next-character: "\f054" !default;
$slick-arrow-font-size: 30px !default;
$slick-arrow-font-weight: 900 !default;
$slick-arrow-position: 10px;
$slick-arrow-color: white !default;

$slick-dot-character: "\2022" !default;
$slick-dot-size: 12px !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: $slick-dot-color !default;

$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.7 !default;

$slider-caption-background: theme-color('primary');
$slider-dot-bottom-offset: 15px;
$slick-dot-height: 25px;
$slick-dot-width: 25px;
$slick-dot-line-height: 25px;

$slick-arrow-offset: 15px;
$slick-arrow-z-index: 2;

// Gravity Form

$gform-max-width: 100%;
$gform-label-display: false;
$gform_submit_button: 'primary';

$woocommerce-product-image-height: 400px;