a {
  font-weight: 700;
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

html {
  position: relative;
  height: 100%;
}

//change loading screen color
.lg-loading-screen {
  background-color: #fff;
}

//sip endpoint portfolio image
.sip-portfolio-image {
  .img-full {
    width: auto;
    max-width: 200px;
  }
}

// fix table in most situations
table {
  @include media-breakpoint-down(sm) {
    width: 100% !important;
    tbody {
      tr {
        td {
          min-width: 100px;
        }
      }
    }
  }
}
//specific table issues
.algo-use-cases {
  tr {
    td {
      @include media-breakpoint-down(sm) {
        display: table-row;
      }
    }
  }
}

.benefits-of-ip-solutions {
  tr {
    td {
      @include media-breakpoint-down(sm) {
        min-width: 125px;
      }
    }
  }
}

.pagination {
  margin-bottom: 3rem;
  ul {
    list-style: none;
    display: flex;
    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      a {
        color: #000000;
        &:hover {
          color: theme-color("primary");
        }
      }
    }
  }
}

.btn-secondary {
  color: #fff;
}

.footer-to-bottom {
  position: relative;
  min-height: 100vh;
  footer {
    // make sure page template's footer stays at the bottom in case content isn't enough
    position: absolute;
    width: 100%;
    top: 100%;
  }
}

.error404 {
  position: relative;
  min-height: 100vh;
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.thank-you-page {
  position: relative;
  min-height: 100vh;
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.dark-bullet {
  list-style-type: disc;
}

.white-bullet {
  list-style-type: circle;
}

.square-bullet {
  list-style-type: square;
}

.container-sm {
  max-width: 800px;
  margin: auto;
}

.underline-hover:hover {
  text-decoration: underline;
}

main {
  position: relative;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.btn-outline-secondary:hover {
  color: #fff;
}

.min-screen-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.faq-groups {
  @extend .py-4;
  .card {
    &:last-child {
      border-bottom: $card-border-width solid $card-border-color;
    }
    .card-header {
      display: flex;
      position: relative;
      margin: 0 !important;
      border-bottom: 0;
      button {
        padding: 15px;
        text-align: left;
        width: 100%;
      }
      button[aria-expanded="true"] + i {
        transform: rotate(180deg);
      }
      i {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        pointer-events: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transition: transform 0.3s ease-out 0s;
      }
    }
    .card-body {
      padding: 30px 15px;
    }
  }
}

.faq-group-title {
  padding: 15px;
  background-image: url("/wp-content/themes/wp-web-algo/assets/dist/images/header2-gradient.gif");
  color: #fff;
  background-repeat: repeat-x;
}

.top-banner {
  position: relative;
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  .slick-next {
    right: 30px;
  }
  .slick-prev {
    left: 30px;
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    > div {
      @extend .container;
    }
  }
}

.image-hover-scale {
  img {
    transition: all 0.4s ease-in-out 0s;
    padding: 30px;
    &:hover {
      box-shadow: 0px 2px 13px #afafaf;
      transform: scale(1.1);
    }
  }
}

.news-events-feature {
  .image {
    @extend .px-0;
    @extend .px-4;
  }
  .content {
    @extend .px-0;
    @extend .px-4;
    h3 {
      font-size: 1.1rem;
      font-weight: bold;
      color: theme-color("dark");
    }
    > div {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}

.grid-2-column {
  .text-editor {
    @extend .py-4;
    @extend .py-md-0;
  }
}

.faq-filter {
  #product-category-selector,
  #product-selector {
    @extend .form-control;
  }
}

// // fix table settings
// .text-editor {
// 	table {
// 		display: block;
// 		overflow-x: scroll;
// 		width: 100% !important;
// 		tbody {
// 			tr {
// 				td {
// 					white-space: nowrap;
// 					width: 100% !important;
// 				}
// 			}
// 		}
// 	}
// }

// fix image on mobile
@include media-breakpoint-down("sm") {
  .text-editor {
    img {
      float: none;
      height: auto;
      display: block;
      &.alignright {
        margin-left: 0;
      }
    }
  }
}

.gform_validation_container {
  display: none;
}

// project registration form
.project-timeline-start {
  .gfield_label {
    display: block !important;
  }
  .clear-multi {
    display: flex;
    > div {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.project-registration {
  form .gform_fields {
    > .gsection:not(:first-of-type) {
      padding-top: 1rem;
    }
  }
}
