#site-footer {
	h1, h2, h3, h4, h5, h6 {
		color: theme-color("white");
	}
	a {
		color: theme-color("white");
		&:hover {
			color: theme-color('secondary');
		}
		font-weight: 400;
	}
	@extend .py-5;
	background-color: theme-color("primary");
	.footer-navigation {
		ul {
			list-style: none;
			padding-left: 0;
		}
	}
	.footer-resource {
		ul {
			list-style: none;
			padding-left: 0;
		}
	}
}