.gform_wrapper {
	form {
		.gform_body {
			.gform_fields {
				list-style: none;
				padding-left: 0;
				.show-label {
					.gfield_label {
						display: block !important;
					}	
				}
				.gfield {
					margin-bottom: 1rem;
					.ginput_container {
						input, textarea {
							width: 100%;
							padding: .75rem;
						}
					}
				.ginput_container_radio {
					&.ginput_container ul.gfield_radio {
						list-style: none;
						padding-left: 0;
						input {
							width: auto;
							margin-right: 10px;
						}
					}
				}
				}
			}
		}
	}
}