#site-header {
	background-color: #fff;
	#menu-main-nav > .menu-item.nolink > a {
		cursor: context-menu;
	}
	a {
		font-weight: 400;
		&.nolink {
			cursor: context-menu;
		}
	}
	.header-main {
		padding-right: 0 !important;
		.site-branding .logo {
			width: auto !important;
		}
	}
	#menu-main-nav {
		> li.menu-item {
			> a:hover {
				color: theme-color("primary");
				@include media-breakpoint-down($nav-breakpoint-down){
					color: #fff;
				}
			}
			.dropdown-menu {
				position: static;
				background-color: #F4F3F4;
				border: none;
			}
			> .dropdown-menu { // 2nd layer
				padding-top: 0;
				padding-bottom: 0;
				border: none;
				background-color: #F4F3F4;
        		box-shadow: 0 0px 5px 0px #cecece;

        		.dropdown-item.active, .dropdown-item:active {
					background-color: theme-color("gray-dark");
				}
				> .dropdown-menu { // 3rd layer ex: ip speaker, ip intercom
					> a {
						color: theme-color("primary");
						font-weight: bold;
						font-size: 1.1rem;
					}

					> .dropdown-menu { // last layer
						a {
							color: theme-color("dark");
							&:hover {
								color: theme-color("primary");
							}
						}
					}
				}
				& > a {
					display: none;
				}
				position: absolute;
				display: flex;
				@include media-breakpoint-down($nav-breakpoint-down){ // .dropdown-menu -> second layer (first layer of dropdown)
					position: static;
					display: none;
					&.show {
						display: block;
					}
					> .dropdown-menu {
						display: block;
						> .dropdown-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}

.menu-item-721 + .dropdown-menu > a{
  position: relative;
  padding-left: 3.9rem;

  > span{
    position: absolute;
    left: 1.5rem;
  }
}
.menu-item-727 + .dropdown-menu > a{
  position: relative;
  padding-left: 4.5rem;

  > span{
    position: absolute;
    left: 1.5rem;
  }
}

