$site-footer-bg-color:			theme-color('light');
$site-footer-color:				#fff;

//Site Legal
$site-legal-bg-color: 			theme-color('light');
$site-legal-color:				theme-color('primary');
$site-legal-link-color:			theme-color('primary');